<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Dashboard</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/thirdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/static/css/dashboard.css" rel="stylesheet">
		<link href="/static/thirdparty/jstree/dist/themes/default/style.min.css" rel="stylesheet"/>
		<link href="/static/thirdparty/select2/select2.css" rel="stylesheet"/>

	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Passive Uninterrupted Host Watchdog :: Dashboard</a>
				</div>
				<div class="navbar-right">
					<div id="search_container">
						<input type="hidden" id="search">
						</input>
					</div>
				</div>	
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<p>Monitors tree</p> 

					<div id="jstree"></div>

				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<p>
							<label>Sensor:</label>

							<select id="available_sensors">
									<option>Select host to load sensors</option>
							</select>

							<label>Metric:</label>

							<select id="available_metrics">
									<option>Select sensor to load metrics</option>
							</select>

							<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-compound-metric">
								Delete current metric
					        </button>

							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-compound-metric">
					          <span class="glyphicon glyphicon-plus"></span> New compound metric
					        </button>

					</p>

                    <div id="placeholder">Please select metric from the list above to see the data.</div>

                    <div id="metric_data">
	                    <h4 class="sub-header" id="metric_name"></h4>

                    	<div id="text_data" style="width: 600px;">
	                        <div class="form-row">
	                            <label>Metric value:</label>
	                            <span id="metric_value"></span>
	                        </div>
                    	</div>
                    		
						<div id="chart_div" style="width: 1000px; height: 500px;"></div>
						
						<div id="properties">
	                        <h4 class="sub-header">Properties</h4>

							<div class="form-row">
								<label>Autorefresh every: </label> 
								<select id="autorefresh">
									<option value="disabled">Disabled</option>
									<option value="3">3s</option>
									<option value="10">10s</option>
									<option value="30">30s</option>
									<option value="60">60s</option>
								</select>
							</div>

	                        <div class="form-row">
	                            <label>Number of datapoints:</label>
	                            <input type="number" name="number_of_datapoints" id="number_of_datapoints" value="50" min="5" max="1000"/>
	                        </div>
	                        <div class="form-row">
	                        	<button class="btn btn-sm btn-success" id="apply_plot_parameters">Apply</button>
	                        </div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="modal fade" id="add-compound-metric">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title">New compound metric</h4>
	          </div>
	          <div class="modal-body">
	            <form role="form">
	              <div class="form-row">
	                <label for="comp-metric-name">Metric name</label>
	                <input type="email" class="form-control" id="comp-metric-name">
	              </div>
	              <div class="form-row">
	                <label for="comp-metric-name">Average</label>
	                <input type="number" class="form-control" id="comp-metric-average" value="10" min="5" max="50">
	              </div>
	              <div class="form-row">
	                <label for="comp-metric-name">RPM</label>
	                <input type="number" class="form-control" id="comp-metric-rpm" value="4" min="1" max="60">
	              </div>
	              <div class="form-row">
	                <label for="comp-metric-name">Login</label>
	                <input type="email" class="form-control" id="comp-metric-login">
	              </div>
	              <div class="form-row">
	                <label for="comp-metric-name">Password</label>
	                <input type="password" class="form-control" id="comp-metric-password">
	              </div>
	            </form>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-success" id="add-compound-metric-button">Add</button>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="modal fade" id="delete-compound-metric">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title">Delete compound metric</h4>
	          </div>
	          <div class="modal-body">
	            <form role="form">
	              <div class="form-row"
	                <label for="comp-metric-name">Login</label>
	                <input type="email" class="form-control" id="comp-metric-login">
	              </div>
	              <div class="form-row">
	                <label for="comp-metric-name">Password</label>
	                <input type="password" class="form-control" id="comp-metric-password">
	              </div>
	            </form>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-danger" id="delete-compound-metric-button">Delete</button>
	          </div>
	        </div>
	      </div>
	    </div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="/static/thirdparty/jstree/dist/jstree.min.js"></script>
		<script type="text/javascript" src="/static/thirdparty/select2/select2.js"></script>

        <script type="text/javascript" src="/static/js/metricData.js"></script>
        <script type="text/javascript" src="/static/js/metricsList.js"></script>
		<script type="text/javascript" src="/static/js/monitorsTree.js"></script>
		<script type="text/javascript" src="/static/js/sensorsList.js"></script>
		<script type="text/javascript" src="/static/js/search.js"></script>
		<script type="text/javascript" src="/static/js/plotParameters.js"></script>
		<script type="text/javascript" src="/static/js/newCompoundMetric.js"></script>
		<script type="text/javascript" src="/static/js/deleteCompoundMetric.js"></script>

	</body>
</html>
