<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/jstree/dist/themes/default/style.min.css" />
 
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Passive Uninterrupted Host Watchdog</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <p>Monitors tree</p> 

          <div id="jstree"></div>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <h2>Available sensors:</h2>

          <ul id="available_sensors_container">

          </ul>

          <div id="chart_div" style="width: 800px; height: 500px;"></div>

          <a href="#" class="btn btn-default btn-success" id="refresh_plot">Refresh plot</a>
          
          <h2 class="sub-header">Properties</h2>
         
          <p>Some properties... someday... ;-)</p> 
        
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/static/jstree/dist/jstree.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#jstree').jstree({
          'core' : {
            'data' : {
              'url' : function (node) {
                return node.id === '#' ? 
                  '/monitors_list' : 
                  '/monitor';
              },
              'data' : function (node) {
                return { 'name' : node.id };
              }
            }
        }});

        $('#jstree').on("select_node.jstree", function(node, selected, event) {
            if (selected.node.parent != '#') {
                loadSensorsForHost(selected.node.text); // it definitely shouldn't be based on node's text ;-)
            }
        });
      });

      function loadSensorsForHost(hostname) {
        $.get("/monitor/" + hostname + "/sensors/", function(data) {

            var available_sensors_container = $("#available_sensors_container");
            available_sensors_container.html(""); // clean the list

            data.sensors.forEach(function(sensor) {
                available_sensors_container.append("<li>" + sensor.sensorname + "</li>");
            });

        });
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      // google.setOnLoadCallback(drawChart);
      function drawChart(dataArray) {
        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
          title: 'Dummy sinus'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      function getDataAndPlot() {
        $.get("/json_sin", function(data) {
          drawChart(data);
        }); 
      }

      $(document).ready(function() {
        getDataAndPlot(); 

        $("#refresh_plot").click(function() {
          getDataAndPlot();
        });
      });
    </script>

  </body>
</html>
